@media screen and (max-width: 850px) {
    html {
        font-size: 65%;
    }

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .container {
        grid-template-columns: repeat(1,1fr);
    }

    .a .content {
        position: fixed;
        z-index: 8;
        transform: translateX(-110%);
        height: 100vh;
        top: 0;
        left: 0;
        transition: .2s  ease-out;
    }
    
    .a .content.show {
        transform: translateX(0);
        transition: .2s  ease-in;
    }

    .a .burger {
        display: block;
        position: absolute;
        z-index: 7;
    }

    .con-icon .rel.icon .abs {
        width: 17px;
        height: 17px;
    }

    .container .a .header-a span {
        opacity: 1;
    }

    .container .a .con-icon a.active {
        background:#4f46e5;
    }

    .b {
        margin-top: -1.4rem;
        margin-left: 1.2rem;
    }

    .b .con-ins {
        grid-template-columns: repeat(1,1fr);
        margin-left: -1rem;
    }

    .b .con-ins .sales {
        width: 70%;
    }

    .tabel {
        /* padding-right: 1.4rem; */
    }

    .tabel table {
        width: 100%;
        margin-left: -.6rem;
    }

    .con-ins .sales:nth-child(2) h3 {
        padding-right: 2rem;
    }

    .c {
        position: absolute;
        right: 2rem;
        top: 1rem;
    }

    .c .top {
        margin-left: 2rem;
    }

    .c .top .mode span {
        font-size: 15px;
        text-align: center;
    }

    .c .bottom-con .bot {
        width: 100%;
        height: 10.3rem;
    }
    .bottom-con .bot-plus {
        width: 100%;
    }

    .middle-con .middle {
        width: 100%;
    }
}

@media screen and (max-width: 591px) {
    .b .con-ins .sales {
        width: 50%;
        
    }
    .b .con-ins .sales svg {
        width: 85px;
        height: 85px;
    }
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -2rem;
    }

    .b .con-ins .sales .middle {
        flex-wrap: wrap;
    }
}