@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Primary: #4f46e5;
  --Accent: #22d3ee;
  --Background: #0f172a;
  --Card-Panel: rgb(30, 41, 59);
  --Sidebar: #020617;
  --Teks: #e5e7eb;
  --Teks-sekunder: #94a3b8;
  --Muted-text: #64748b;
  --Primary-Button: #4f46e5;
  --Hover: #6366f1;
  --Secondary: #334155;
  --Success: #4ade80;
  --Warning: #facc15;
  --Error: #f87171;
  --Info: #38bdf8;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

/* ===== THEME ===== */
body.dark {
  background-color: var(--Background);
  color: var(--Teks);
}

body.light {
  background: #f1f5f9;
  color: #020617;
  transition: .3s ease-in-out;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--Background);
  color: var(--Teks);
}

small {
  color: var(--Muted-text);
}

.container {
  display: grid;
  grid-template-columns: 17rem auto 17rem;
  padding: 1rem;
  position: relative;
}

.a {
  position: relative;
}



.a .burger {
  position: absolute;
  left: -1.1rem;
  top: -0.4rem;
  display: none;
}

.a .burger span {
  font-size: 3rem;
  color: var(--Muted-text);
  cursor: pointer;
}

.container .a .header-a {
  background-color: var(--Sidebar);
  width: 13rem;
  border-left: 5px solid var(--Secondary);
  text-align: center;
  padding: 0.7rem 0;
  color: var(--Hover);
  position: relative;
}

.container .a .header-a span {
  color: var(--Muted-text);
  position: absolute;
  top: .4rem;
  right: -1.1rem;
  font-size: 3rem;
  cursor: pointer;
  opacity: 0;
}

.container .a .con-icon {
  width: 13rem;
  background: var(--Sidebar);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1rem;
  gap: 0.3rem;
  height: 46.5rem;
}

.container .a .con-icon a {
  display: flex;
  margin-left: 1rem;
  align-items: center;
  height: 3.5rem;
  color: var(--Secondary);
}

.container .a .con-icon a span {
  display: inline-block;
  font-size: 2.2rem;
}

.container .a .con-icon a p {
  margin-left: 0.3rem;
  font-size: 1.1rem;
}

.container .a .con-icon a.active {
  margin-left: 0;
  background: var(--Secondary);
  color: #fff;
  transition: 0.2s ease-in-out;
}

.container .a .con-icon a.active::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: var(--Muted-text);
  transition: 0.2s ease-in-out;
}

.container .a .con-icon a:hover span {
  margin-left: 1rem;
  transition: 0.3s ease;
}

.a .con-icon a:last-child {
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
}

.con-icon .rel {
  position: relative;
}

.con-icon .rel .abs {
  position: absolute;
  background: var(--Error);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  right: 1rem;
  text-align: center;
  color: #fff;
}

/* ini middle */
.b {
  margin: 0 0 0 -2.8rem;
}

.b h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.b .date input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background: var(--Secondary);
  color: var(--Hover);
  outline: none;
}

.con-ins {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.con-ins .sales {
  background: var(--Secondary);
  width: max-content;
  padding: 1rem;
  border-radius: 1.5rem;
}

.con-ins .sales:hover {
  box-shadow: 0 0 3px var(--Muted-text);
  transition: 0.2s ease;
}

.con-ins .sales span {
  font-size: 2rem;
  background: var(--Hover);
  color: #fff;
  padding: 1.5rem;
  border-radius: 50%;
}

.middle {
  margin-top: 1rem;
  display: flex;
  width: 100%;
}

.middle .left {
  line-height: 1.2rem;
}

.middle .circle {
  width: 120px;
  height: 120px;
  position: relative;
}

.sales .circle .progress {
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
  transform: rotate(-90deg);
  transform-origin: 50%;
  animation: satu 1.5s ease forwards;
}

.sales.income .circle .progress {
  animation: dua 1.5s ease forwards;
}

.sales.balance .circle .progress {
  animation: tiga 1.5s ease forwards;
}

@keyframes satu {
  to {
    stroke-dashoffset: 219;
  }
}
@keyframes dua {
  to {
    stroke-dashoffset: 157;
  }
}
@keyframes tiga {
  to {
    stroke-dashoffset: 40.82;
  }
}

.circle .number {
  position: absolute;
  display: flex;
  top: 40%;
  left: 35%;
  font-size: 1.2rem;
  font-weight: 600;
}

table {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  background: var(--Secondary);
  padding: 2rem;
  border-radius: 1.5rem;
}

table thead {
  color: var(--Teks-sekunder);
}

table tbody tr td {
  border-bottom: 1px solid var(--Teks);
  padding: 1rem 0;
}

table tbody tr .suc {
  color: var(--Success);
}

table tbody tr .pen {
  color: var(--Error);
  padding-left: 0.5rem;
}

table tbody tr .det {
  color: var(--Info);
}

table tbody tr .det:hover {
  color: var(--Card-Panel);
  transition: 0.2s ease;
  cursor: pointer;
}

/* .progress {
  stroke-dasharray: 314; /* 2 * π * 50 */
/* stroke-dashoffset: 314;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: progress 1.5s ease-out forwards;
} */

/* @keyframes progress {
  to {
    stroke-dashoffset: 94; /* 314 - (70% × 314) */
/* }
} */

/* right */

.c .top {
  display: flex;
  gap: 1rem;
}

.c .top .mode {
  display: flex;
  background: var(--Secondary);
  height: 1.5rem;
  width: 3.3rem;
  align-items: center;
  gap: 0.3rem;
  border-radius: 1rem;
}

.c .top .mode span {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.c .top .mode span.active {
  background: var(--Hover);
  border-radius: 0.9rem;
  height: 100%;
  transition: .3s ease-in-out;
}

.c .top .img,
.c .middle .order-group .order {
  width: 50px;
  height: 50px;
}

.c .top img,
.c .middle .order-group .order img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.c .top .profile {
  display: flex;
  gap: 1rem;
}

.c h4 {
  margin-left: 1rem;
  margin-top: 1rem;
}

.c .middle,
.c .bot {
  background: var(--Secondary);
  display: block;
  width: 75%;
  margin-left: 1rem;
  padding: 0.7rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.c .middle .order-group {
  display: flex;
  margin-top: .5rem;
}


.c .middle .order-group .order-text {
  line-height: 1rem;
  margin-left: 0.4rem;
}

.c .bot .analys {
  display: flex;
}

.c .bot .analys .logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--Info);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Secondary);
}
.c .bot .analys .logo span {
  font-size: 2rem;
}

.c .bot .analys .analys-text {
  margin-left: 0.5rem;
}

.c .bot .analys .analys-text p {
  font-weight: 600;
  color: var(--Error);
}

.bottom-con .bot:nth-child(3) .logo {
  background: var(--Success);
  color: var(--Background);
}
.bottom-con .bot:nth-child(3) .analys-text p,
.bottom-con .bot:nth-child(4) .analys-text p {
  color: var(--Success);
}

.bottom-con .bot:nth-child(4) .logo {
  background-color: var(--Background);
  color: var(--Info);
}

.bottom-con .bot-plus {
  font-size: 3rem;
  color: var(--Muted-text);
  width: 75%;
  border: 2px dashed var(--Muted-text);
  text-align: center;
  margin: 1rem 0 0 1rem;
  cursor: pointer;
}

img {
  cursor: pointer;
}

/* modal box */
.modal-box {
  background: rgba(30, 41, 59, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  transition: opacity .3s ease;
}

.modal-box.show {
  display: flex;
  pointer-events: auto;
  opacity: 1;
}

.modal-box .all-content {
  display: flex;
  width: max-content;
  background: var(--Background);
  padding: 1.5rem;
  border-radius: .5rem;
  position: relative;
}

.close {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
}

.modal-box .modal-img {
  width: 200px;
  height: 230px;
}

.modal-box .modal-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.modal-text {
  margin-left: 1rem;
  line-height: 1.5rem;
}

.con-top2 .top2 p {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--Muted-text);
}

.con-top2 .top2 .star-group span {
  color: gold;
  font-size: 24px;
  font-variation-settings: "FILL" 0;
}

.con-top2 .middle {
  display: block;
}

.top2 .detail {
  display: flex;
  gap: 0.2rem;
  margin-top: 0.5rem;
}

.top2 .detail p {
  color: #fff;
}

.top2 .detail span {
  font-size: 1.2rem;
  font-weight: 500;
}

.modal-text .delivery {
  display: block;
}

.modal-text .delivery h5 {
  font-size: 1.5rem;
  color: var(--Success);
}

.modal-text .delivery div {
  display: flex;
  color: var(--Primary);
  gap: 0.3rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
